body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

button, .btn {
  background: darkred;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #222;
  padding: 10px;
  margin-bottom: 8px;
}
