body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
  padding: 20px;
}

h1 {
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button, .btn {
  background: #c62828;
  color: white;
  cursor: pointer;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
}

button:hover, .btn:hover {
  background: #b71c1c;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1c1c1c;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}
